/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .container {
        margin: 0 auto;
        width: 1200px;
      }
      
      html {
        font-family: "Rubik", sans-serif;
        color: #343a40;
      }
      header {
        height: 100vh;
        position: relative;
      
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
          url(drone.jpg);
      }
      
      .header-container {
        width: 1200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      .header-container-inner {
        width: 50%;
      }
      
      p {
        font-size: 18px;
        margin-bottom: 42px;
        line-height: 1.4;
      }
      .btn:link,
      .btn:visited {
        font-size: 20px;
        font-weight: 600;
        background-color: rgba(239, 82, 26, 0.978);
        color: bisque;
        padding: 16px 20px;
        text-decoration: none;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 48px;
      }
      
      /*REGISTRATION FORM*/
      body:before {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url(drone.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        filter: blur(10px);
      }
      .contact-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 450px;
        padding: 80px 40px;
        background: rgba(0, 0, 0, 0.685);
      }

      .secondform
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 550px;
        padding: 80px 40px;
        background: rgba(0, 0, 0, 0.685);
      }
      .user-icon {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-80px / 2);
        left: 170px;
        background-color: white;
        top:10px;
      }
      .contact-form h2 {
        margin: 0;
        padding: 0 0 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
      }
      .contact-form p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
      }
      .contact-form input {
        width: 100%;
        margin-bottom: 20px;
      }
      .contact-form input[type="email"],
      .contact-form input[type="password"],
      .contact-form input[type="text"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
      }
      .contact-form input.login {
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: rgba(0, 166, 255, 0.522);
        cursor: pointer;
        border-radius: 12px;
        border: none;
        outline: none;
      
        margin-top: 10%;
      }
      .contact-form input.signup {
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: rgba(0, 166, 255, 0.522);
        cursor: pointer;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 96px;
        margin-left:2%;
      }

      .contact-form input.secondsignup {
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: rgba(0, 166, 255, 0.522);
        cursor: pointer;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 96px;
        margin-left:30%;
      }

      .contact-form a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
      .contact-form .signuppage
      {
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: rgba(0, 166, 255, 0.522);
        cursor: pointer;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 96px;
        margin-left:2%;
      }
      
      .contact-form .adminpage{
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: rgba(0, 166, 255, 0.522);
        cursor: pointer;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 96px;
        margin-left:33%;
        margin-top:2%;
      }
      
      